/* southerntomatopie.css */

.header {
    background-color: antiquewhite;
    color: orangered;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.first {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}
.second {
    font-size: 30px;
}
.third,
.fourth,
.fifth {
    font-size: 22px;
}
.fifth {
    color: olivedrab;
    text-align: center;
}
#pie {
    display: block;
  margin-left: auto;
  margin-right: auto;
    border: 1px solid orange;
  border-radius: 10px;
  padding: 5px;
    height: auto;
    width: 500px;
}
#description {
    color: olivedrab;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    color: orange;
    list-style-type: circle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
ol {
    color: olive;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 420;
}
#nutrition {
    color: yellowgreen;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: center;
}